ctransformers==0.2.5
sentence-transformers == 2.2.2
pinecone-client==2.2.4
langchain==0.0.225
flask
pypdf
python-dotenv
https://github.com/amazon-science/ReFinED/archive/refs/tags/V1.zip
evaluate
tqdm
rouge_score
bert_score
-e .
transformers
torch
tokenizers
sentence-transformers
sentencepiece
nltk
scikit-learn
pandas
babel
numpy
matplotlib
seaborn
networkx
pyvis
pinecone-client==3.0.0
pinecone-datasets==0.7.0
langchain-pinecone==0.0.3
langchain-openai==0.0.7
langchain==0.1.9
